# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native
/ios
/android
.kotlin/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# environment
.env
.env*.local

# macOS
.DS_Store

# misc
*.log
*.pem
*.tsbuildinfo
coverage/

# example
app-example